<div class="body">
  <div class="container">
    <div class="header">
      <div class="header-content">
        <img src="assets/logo des.grafico.png" alt="logoTMKT">
        <h3>Pesquisa Colaborador</h3>
      </div>
      <div class="header-content">
        <img src="assets/logo_white_2.png" alt="imageTMKT">
      </div>
      <div class="header-content">
        <a href="http://intranet.tmktbrasil.com.br">
          <svg xmlns="http://www.w3.org/2000/svg" title="Sair" width="32" height="32" fill="currentColor"
            class="bi bi-box-arrow-left" viewBox="0 0 16 16">
            <title>Sair</title>
            <path fill-rule="evenodd"
              d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0z" />
            <path fill-rule="evenodd"
              d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z" />
          </svg>
        </a>
      </div>
    </div>

    <div class="center-container">
      <div class="info-container">
        <h2 class="title-green">Consulta Funcionário</h2>
        <hr>      
      </div>

      <label for="matricula" class="label-bold">Matrícula:</label>
      <input type="text" id="matricula" class="input-matricula" [(ngModel)]="matricula">

      <label for="codindi" class="label-bold">Codindi:</label>
      <input type="text" id="codindi" class="input-codindi" [(ngModel)]="codindi">

      <label for="matricula-equipe" class="label-bold">Matrícula Equipe:</label>
      <input type="text" id="matricula-equipe" class="input-equipe" [(ngModel)]="matriculaEquipe"><br><br>

      <label for="nome" class="label-bold">Nome:</label>
      <input type="text" id="nome" class="input-nome" [(ngModel)]="nome"><br><br>

      <label for="cpf" class="label-bold">CPF:</label>
      <input type="text" id="cpf" class="input-box" [(ngModel)]="cpf">

      <label for="codigo-acesso" class="label-bold"
      [(ngModel)]="codigoAcessoW">Código de Acesso (Crachá):</label>
      <input type="text" id="codigo-acesso" class="input-acesso"><br><br>

      <label for="funcao" class="label-bold">Função:</label>
      <select id="funcao" class="input-box" [(ngModel)]="selectedFuncao">
        <option value="">Selecione uma função</option>
        <option *ngFor="let funcao of funcoes" [value]="funcao['codigoFuncao']">
          {{ funcao['descricaoFuncao'] }}
        </option>
      </select>
      
      <label for="status" class="label-bold">Status:</label>
      <select id="status" class="input-box" [(ngModel)]="selectedStatus">
        <option value="">Selecione um status</option>
        <option *ngFor="let status of statusList" [value]="status.codigoStatus">
          {{ status.descricaoStatus }}
        </option>
      </select> <br><br>

      <label for="login-externo" class="label-bold">Login<br>Externo:</label>
      <input type="text" id="login-externo" class="input-box">

      <div class="button">
        <button class="btn-pesquisar" (click)="pesquisar()">Pesquisar</button>
    </div>    
    </div>
  </div>
</div>
